.aboutUs-title-color {
  color: var(--color-light-blue);
}

textarea {
  resize: both;
}

.login-logo-size {
  width: 18vw;
}

.cofundador-img {
  border-radius: 50%;
  width: 15vh;
  height: 15vh;
}
